nav {
  min-width: 100%;
  min-height: 48px;
  margin-bottom: 2.5em;
  line-height: 48px;
  white-space: nowrap;
  overflow-x: auto;

  a,
  &:visited {
    display: inline-block;
    margin: 0;
    padding: 0 16px;
    color: inherit;
    fill: inherit;
  }

  li {
    display: inline-block;
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.nav-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: auto;

  a {
    &:focus,
    &:hover {
      color: $gray-4;
      text-decoration: none;
      opacity: 1;
    }

    &:active {
      color: $gray-4;
      text-decoration: none;
      opacity: .8;
    }
  }
}

.nav-logo {
  svg {
    margin-bottom: 2px;
    vertical-align: middle;
    fill: $body-color;

    &:focus,
    &:hover {
      opacity: 1;
      fill: $gray-4;
    }

    &:active {
      opacity: .8;
    }
  }
}
